<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=form, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table style="border: black solid 2px" width="50%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Color</th>
            <th>Created_at</th>
            <th>Updated_at</th>
        </tr>
        
        {%for s in allusers %}
        <tr>
          <td>{{s.name}}</td>
          <td>{{s.email}}</td>
          <td>{{s.age}}</td>
          <td>{{s.color}}</td>
          <td>{{s.created_at}}</td>
          <td>{{s.updated_at}}</td>
        </tr>
        {%endfor%}
      </table>
      <hr>

    <form method="post" action="/69">
      {%csrf_token %}
      <table style="border: black solid 2px" width="50%">
        <tr>
          <th>name</th>
          <th>email</th>
          <th>age</th>
          <th>Color</th>
        </tr>

        <tr>
          <td><input type="text" name="name" /></td>
          <td><input type="text" name="email" /></td>
          <td><input type="number" name="age" /></td>
          <td><input type="text" name="color" /></td>
        </tr>
      </table>
      <br />
      <input type="submit" value="Send Form!" />
    </form>
  </body>
</html>
